<template name="cardManagementCreate">
	<form class="main form">
		<div class="form-group">
			<div class="form-group">
				<label class="control-label" for="deck">Type of deck</label>
				<div class="controls">
					<select name="deck" id="deck">
						<option value="tresor">Trésor</option>
						<option value="porte">Porte</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="type">Type of card</label>
				<div class="controls">
					<select name="type" id="type">
						<option value="equipement">Equipement</option>
						<option value="niveau">Niveau</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="name">Name</label>
				<div class="controls">
					<input name="name" id="name" type="text" value="" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="desc">Description</label>
				<div class="controls">
					<input name="desc" id="desc" type="text" value="" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="left">Bottom left (value1,value2...)</label>
				<div class="controls">
					<input name="left" id="left" type="text" value="" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="right">Right</label>
				<div class="controls">
					<input name="right" id="right" type="text" value="" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="bonus">Bonus (value1,type1,value2,type2...)</label>
				<div class="controls">
					<input name="bonus" id="bonus" type="text" value="" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="restriction">Condition</label>
					<select name="restriction" id="restriction">
						<option value="2">Aucune</option>
						<option value="0">Réservé</option>
						<option value="1">Interdit</option>
					</select>
				<div class="controls">
					<input name="condition" id="condition" type="text" value="" class="form-control"/>
				</div>
			</div>
		</div>
		<input type="submit" value="Submit" class="btn btn-primary"/>
	</form>
</template>